section {
  display: table;
}

.label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: left;
}

.w80{
  width: 50%;
}

.p20{
  padding: 20px;
}

.center-screen {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.col {
  flex: 1;
  padding: 0 15px;
}
